In [32]:
from langchain_community.utilities import SQLDatabase
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import OpenAIEmbeddings, ChatOpenAI
from langchain_community.vectorstores import FAISS
from operator import itemgetter
import re
import ast

In [33]:
from langchain_community.utilities import SQLDatabase
 
db_uri = "mysql+pymysql://root:Munna%402004@localhost:3306/final"
# db_uri = "mysql+pymysql://root:Munna%402004@localhost:3306/schooldb"
 
db = SQLDatabase.from_uri(db_uri)
 
print("Dialect:", db.dialect)
 
print("Tables:", db.get_usable_table_names())
 
print(db.run("SELECT * FROM person LIMIT 10;"))
# print(db.run("SELECT * FROM students LIMIT 10;"))

Dialect: mysql
Tables: ['buildings', 'classrooms', 'college', 'course', 'faculty', 'interns', 'person', 'section', 'student', 'textbook']
[(1, '635-448-6158', 'Tanya Ferguson'), (2, '654-651-8521', "Guy O'Neill"), (3, '687-846-5132', 'Dennis Wilks'), (4, '876-263-4455', 'Kenneth Mason'), (5, '184-846-4613', 'Mike Briley'), (6, '184-618-4842', 'Mary George'), (7, '618-476-4631', 'June Walkters'), (8, '594-976-4326', 'Angela Mendez'), (9, '459-487-9635', 'John Leak'), (10, '111-526-8633', 'Carey Cochran')]

In [34]:
import getpass
import os

if not os.environ.get("GROQ_API_KEY"):
  os.environ["GROQ_API_KEY"] = getpass.getpass("Enter API key for Groq: ")

from langchain.chat_models import init_chat_model

llm = init_chat_model("llama-3.3-70b-versatile", model_provider="groq")

In [35]:
def get_schema_info(db):
   """Retrieve comprehensive schema information including foreign keys"""
   schema_info = []
   tables = db.get_usable_table_names()
   for table in tables:
       columns = db.run(f"DESCRIBE {table};")
       
       fk_query = f"""
           SELECT
               COLUMN_NAME,
               REFERENCED_TABLE_NAME,
               REFERENCED_COLUMN_NAME
           FROM
               INFORMATION_SCHEMA.KEY_COLUMN_USAGE
           WHERE
               TABLE_SCHEMA = DATABASE() AND
               TABLE_NAME = '{table}' AND
               REFERENCED_TABLE_NAME IS NOT NULL;
       """
       foreign_keys = db.run(fk_query)
       schema_entry = f"""
       Table: {table}
       Columns: {columns}
       Foreign Keys: {foreign_keys if foreign_keys else 'None'}
       """
       schema_info.append(schema_entry)
   return schema_info

In [50]:
# # 4. Enhanced Data Retrieval for RAG
# def query_as_list(db, query):
#    """Helper function to format query results"""
#    res = db.run(query)
#    res = [el for sub in ast.literal_eval(res) for el in sub if el]
#    res = [re.sub(r"\b\d+\b", "", string).strip() for string in res]
#    return res
# # Get proper nouns and schema information
# # proper_nouns = query_as_list(db, "SELECT CollegeName FROM college")
# # proper_nouns += query_as_list(db, "SELECT BuildingName FROM buildings")
# # proper_nouns += query_as_list(db, "SELECT CourseName FROM course")
# # proper_nouns += query_as_list(db, "SELECT TextbookTitle FROM textbook")
# # proper_nouns += query_as_list(db, "SELECT PersonName FROM person")
# proper_nouns = query_as_list(db, "SELECT name FROM students")
# proper_nouns += query_as_list(db, "SELECT school_name FROM students")
schema_info = get_schema_info(db)
import pprint
pprint.pprint(schema_info)

['\n'
 '       Table: buildings\n'
 "       Columns: [('BuildingID', 'int', 'NO', 'PRI', None, ''), "
 "('BuildingName', 'varchar(45)', 'YES', '', None, ''), ('CollegeName', "
 "'varchar(45)', 'NO', 'MUL', None, '')]\n"
 "       Foreign Keys: [('CollegeName', 'college', 'CollegeName')]\n"
 '       ',
 '\n'
 '       Table: classrooms\n'
 "       Columns: [('RoomNumber', 'int', 'NO', 'PRI', None, ''), "
 "('HasProjector', 'varchar(3)', 'YES', '', None, ''), ('BuildingID', 'int', "
 "'YES', 'MUL', None, '')]\n"
 "       Foreign Keys: [('BuildingID', 'buildings', 'BuildingID')]\n"
 '       ',
 '\n'
 '       Table: college\n'
 "       Columns: [('CollegeName', 'varchar(50)', 'NO', 'PRI', None, ''), "
 "('CollegeTotalStudents', 'int', 'YES', '', None, '')]\n"
 '       Foreign Keys: None\n'
 '       ',
 '\n'
 '       Table: course\n'
 "       Columns: [('CourseID', 'int', 'NO', 'PRI', None, ''), ('CourseName', "
 "'varchar(45)', 'YES', '', None, ''), ('TextbookISBN', 'int', 'YES', 'MUL', "
 "None, '')]\n"
 "       Foreign Keys: [('TextbookISBN', 'textbook', 'TextbookISBN')]\n"
 '       ',
 '\n'
 '       Table: faculty\n'
 "       Columns: [('FacultyID', 'int', 'NO', 'PRI', None, ''), "
 "('FacultyTitle', 'varchar(45)', 'YES', '', None, ''), ('FacultySalary', "
 "'int', 'YES', '', None, ''), ('FacultyName', 'varchar(45)', 'YES', '', None, "
 "''), ('PersonID', 'int', 'YES', 'MUL', None, '')]\n"
 "       Foreign Keys: [('PersonID', 'person', 'PersonID')]\n"
 '       ',
 '\n'
 '       Table: interns\n'
 "       Columns: [('InternID', 'int', 'NO', 'PRI', None, ''), ('PersonID', "
 "'int', 'YES', 'MUL', None, ''), ('InternHourlyWage', 'int', 'YES', '', None, "
 "'')]\n"
 "       Foreign Keys: [('PersonID', 'person', 'PersonID')]\n"
 '       ',
 '\n'
 '       Table: person\n'
 "       Columns: [('PersonID', 'int', 'NO', 'PRI', None, ''), "
 "('PersonPhoneNumber', 'varchar(45)', 'YES', '', None, ''), ('PersonName', "
 "'varchar(45)', 'YES', '', None, '')]\n"
 '       Foreign Keys: None\n'
 '       ',
 '\n'
 '       Table: section\n'
 "       Columns: [('SectionID', 'int', 'NO', 'PRI', None, ''), "
 "('SectionDate', 'date', 'YES', '', None, ''), ('RoomNumber', 'int', 'YES', "
 "'MUL', None, ''), ('CourseID', 'int', 'YES', 'MUL', None, ''), "
 "('BuildingID', 'int', 'YES', 'MUL', None, ''), ('PersonID', 'int', 'YES', "
 "'MUL', None, '')]\n"
 "       Foreign Keys: [('BuildingID', 'buildings', 'BuildingID'), "
 "('CourseID', 'course', 'CourseID'), ('PersonID', 'person', 'PersonID'), "
 "('RoomNumber', 'classrooms', 'RoomNumber')]\n"
 '       ',
 '\n'
 '       Table: student\n'
 "       Columns: [('StudentID', 'int', 'NO', 'PRI', None, ''), ('StudentGPA', "
 "'double(10,2)', 'YES', '', None, ''), ('StudentName', 'varchar(45)', 'YES', "
 "'', None, ''), ('PersonID', 'int', 'YES', 'MUL', None, '')]\n"
 "       Foreign Keys: [('PersonID', 'person', 'PersonID')]\n"
 '       ',
 '\n'
 '       Table: textbook\n'
 "       Columns: [('TextbookISBN', 'int', 'NO', 'PRI', None, ''), "
 "('TextbookTitle', 'varchar(45)', 'YES', '', None, ''), ('TextbookAuthor', "
 "'varchar(45)', 'YES', '', None, '')]\n"
 '       Foreign Keys: None\n'
 '       ']

In [37]:
# import os
# from langchain_community.embeddings import HuggingFaceEmbeddings
# from langchain.vectorstores import Chroma

# vector_store_path = "SQL_qa_llm_rag_DB"

# rag_content = proper_nouns + schema_info

# embeddings = HuggingFaceEmbeddings(model_name="sentence-transformers/all-mpnet-base-v2")

# if os.path.exists(vector_store_path):
#     vector_db = Chroma.load(vector_store_path)
# else:                                                                  
#     vector_db = Chroma.from_texts(rag_content, embeddings)
    
#     vector_db.persist(persist_directory=vector_store_path)

# retriever = vector_db.as_retriever(search_kwargs={"k": 10})

In [38]:
system_template = """You are a MySQL expert which generates sql queries entirely using the {schema_info}. Generate efficient and accurate SQL queries using:
Schema Info:
{schema_info}
 
Only use the table_name, columns that are present in the schema info to generate query,
I dont want to see any errors in table name usage or columns names in query.

 
Guidelines:
1. Use explicit JOINs instead of WHERE for relationships
2. Prefer EXISTS over IN for subqueries
3. Use table aliases (c for Course, s for Section, etc.)
4. Handle many-to-many via junction tables

Note:Directly generate sql query without any additional text prefix or suffix such that it is ready to execute,
dont generate the prefixes and suffixes also like commas or anything please be specific with query.
Question: {question}
SQL Query:"""
 
prompt = ChatPromptTemplate.from_template(system_template)

In [39]:
from langchain.schema.runnable import RunnablePassthrough, RunnableLambda
from operator import itemgetter

# def format_docs(docs):
#     """Separate schema info from proper nouns"""
#     schemas = []
#     values = []
    
#     for doc in docs:
#         content = doc.page_content if hasattr(doc, "page_content") else str(doc)
        
#         if "Table:" in content:
#             schemas.append(content)
#         else:
#             values.append(content)
    
#     return {
#         "schemas": "\n".join(schemas),
#         "proper_nouns": "\n".join(values)
#     }

chain = (
    {"question": RunnablePassthrough(), 
     "schema_info": lambda _: "\n".join(schema_info)}
    | prompt
    | llm
)

In [40]:
import pprint

def generate_and_execute(query_text):
    # Get the initial response and execute query
    response = chain.invoke({"question": query_text})
    sql_query = response.content.strip().replace("```sql\n", "").replace("\n```", "")
    print(f"Generated SQL:\n{sql_query}\n")
    
    try:
        result = db.run(sql_query)
        pprint.pprint(f"Execution Result:\n{result}")
        
        # Create a prompt for generating the description
        description_template = """Based on the following:
        Question: {question}
        SQL Query: {query}
        Query Result: {result}
        You are a helpful assistant that explains SQL query results in plain English.
        Given the original question, SQL query, and its results, provide a clear and concise summary of what the data shows.
        Focus on key insights and important numbers. Keep the explanation brief but informative.
        """
        
        description_prompt = ChatPromptTemplate.from_template(description_template)
        
        # Generate the description
        description_chain = (
            {
                "question": lambda _: query_text,
                "query": lambda _: sql_query,
                "result": lambda _: str(result)
            }
            | description_prompt
            | llm
        )
        
        description = description_chain.invoke({})
        pprint.pprint(f"\nDescription:\n{description.content}")
        
    except Exception as e:
        print(f"Execution Error: {str(e)}")

In [41]:
query = """
Who is the youngest student in 10.0 th  class?
"""
generate_and_execute(query)

Generated SQL:
SELECT p.PersonName
FROM student s
JOIN person p ON s.PersonID = p.PersonID
WHERE s.StudentGPA = 10.0
ORDER BY p.PersonID
LIMIT 1

'Execution Result:\n'
('\n'
 'Description:\n'
 'The SQL query aims to find the youngest student in the 10.0th class. '
 "However, the query doesn't directly filter by age, but rather by a unique "
 'identifier (PersonID) after applying a filter for students with a 10.0 GPA. '
 'The result returns the name of one student, implying this person is the '
 'first in the ordered list of students with a 10.0 GPA, based on their '
 "PersonID. The query result does not explicitly state the student's age, but "
 'it provides the name of the student who meets the specified GPA criteria and '
 'is first in the ordered list.')

In [42]:
query = """
Who is the tallest student in 6.0 th class?
"""
generate_and_execute(query)

Generated SQL:
SELECT s.StudentName
FROM student s
JOIN person p ON s.PersonID = p.PersonID
JOIN section sec ON s.PersonID = sec.PersonID
JOIN course c ON sec.CourseID = c.CourseID
WHERE c.CourseName = '6.0'
ORDER BY p.PersonPhoneNumber DESC
LIMIT 1

'Execution Result:\n'
('\n'
 'Description:\n'
 'The SQL query is intended to find the tallest student in the 6.0 class. '
 "However, the query result is based on the student's phone number in "
 'descending order, not their height. This means the result will show the '
 'student with the highest phone number, not the tallest student. The query '
 "does not provide any information about the students' heights. To answer the "
 'original question, a different query that includes height data would be '
 'needed.')

In [43]:
query = """
Who is the student having malnutrition in 8.0th class?
"""
generate_and_execute(query)

Generated SQL:
SELECT s.StudentName
FROM student s
JOIN person p ON s.PersonID = p.PersonID
JOIN section sec ON s.PersonID = sec.PersonID
JOIN course c ON sec.CourseID = c.CourseID
WHERE c.CourseName = 'Malnutrition' AND sec.SectionDate = '8.0'

Execution Error: (pymysql.err.OperationalError) (1525, "Incorrect DATE value: '8.0'")
[SQL: SELECT s.StudentName
FROM student s
JOIN person p ON s.PersonID = p.PersonID
JOIN section sec ON s.PersonID = sec.PersonID
JOIN course c ON sec.CourseID = c.CourseID
WHERE c.CourseName = 'Malnutrition' AND sec.SectionDate = '8.0']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [44]:
query = """
Which buildings with projectors have courses taught by faculty earning over $90,000?
"""
generate_and_execute(query)

Generated SQL:
SELECT DISTINCT b.BuildingName
FROM buildings b
JOIN classrooms c ON b.BuildingID = c.BuildingID
JOIN section s ON c.RoomNumber = s.RoomNumber AND b.BuildingID = s.BuildingID
JOIN course co ON s.CourseID = co.CourseID
JOIN section sec ON co.CourseID = sec.CourseID
JOIN faculty f ON sec.PersonID = f.PersonID
WHERE c.HasProjector = 'yes' AND f.FacultySalary > 90000

"Execution Result:\n[('Riverhead',)]"
('\n'
 'Description:\n'
 "The data shows that there is only one building, 'Riverhead', where courses "
 'are taught by faculty members earning over $90,000 and the classrooms are '
 'equipped with projectors.')

In [45]:
query = """
What is the average number of classrooms with projectors for each college, and how does it vary across different buildings?
"""
generate_and_execute(query)

Generated SQL:
SELECT
  b.CollegeName,
  AVG(CASE WHEN c.HasProjector = 'yes' THEN 1 ELSE 0 END) AS avg_classrooms_with_projectors
FROM
  buildings b
  JOIN classrooms c ON b.BuildingID = c.BuildingID
GROUP BY
  b.CollegeName

"Execution Result:\n[('SCCC', Decimal('0.5000'))]"
('\n'
 'Description:\n'
 'The data shows that, on average, 50% of classrooms in the SCCC college have '
 'projectors. This means that for every 2 classrooms, 1 is likely to have a '
 "projector. The query only returned results for SCCC, so we can't compare "
 'across different colleges. However, this average gives us an idea of the '
 "projector availability in SCCC's classrooms.")

In [46]:
query = """
Which textbooks are most commonly used across all courses, and what is their average usage rate in terms of course enrollments?
"""
generate_and_execute(query)

Generated SQL:
SELECT t.TextbookTitle, COUNT(c.CourseID) AS TotalCourses, AVG(s.SectionID) AS AverageEnrollments
FROM textbook t
JOIN course c ON t.TextbookISBN = c.TextbookISBN
JOIN section s ON c.CourseID = s.CourseID
GROUP BY t.TextbookTitle
ORDER BY COUNT(c.CourseID) DESC;

('Execution Result:\n'
 "[('Liang Java', 1, Decimal('100.0000')), ('Intro to Calculus', 1, "
 "Decimal('101.0000')), ('Fundamentals of Accounting', 1, "
 "Decimal('102.0000')), ('Poems and Stories', 1, Decimal('103.0000')), "
 "('Organic Chemistry Principles', 1, Decimal('104.0000'))]")
('\n'
 'Description:\n'
 'The data shows the most commonly used textbooks across all courses, along '
 'with their average enrollment rates. However, the results indicate that each '
 'textbook is only used in one course. The top textbooks by course enrollment '
 'are: \n'
 '\n'
 "- 'Intro to Calculus' with 101 students\n"
 "- 'Fundamentals of Accounting' with 102 students\n"
 "- 'Poems and Stories' with 103 students\n"
 "- 'Organic Chemistry Principles' with 104 students\n"
 "- 'Liang Java' with 100 students\n"
 '\n'
 'Note that the average enrollment rate is essentially the enrollment for each '
 "individual course, as there's only one course per textbook in the results.")

In [47]:
query = """
Which buildings have the largest number of classrooms, and how many of these classrooms are equipped with projectors?
"""
generate_and_execute(query)

Generated SQL:
SELECT b.BuildingName, COUNT(c.RoomNumber) AS total_classrooms,
       SUM(IF(c.HasProjector = 'yes', 1, 0)) AS projector_classrooms
FROM buildings b
JOIN classrooms c ON b.BuildingID = c.BuildingID
GROUP BY b.BuildingName
ORDER BY total_classrooms DESC
LIMIT 1

"Execution Result:\n[('Riverhead', 3, Decimal('2'))]"
('\n'
 'Description:\n'
 'The data shows that the Riverhead building has the largest number of '
 'classrooms, with a total of 3 classrooms. Out of these, 2 classrooms are '
 'equipped with projectors. This suggests that Riverhead has the most '
 'extensive classroom facilities, with a significant proportion of them having '
 'projector capabilities.')

In [48]:
query = """
What kind of information is in this database named final?"""
generate_and_execute(query)

Generated SQL:
SELECT TABLE_NAME, COLUMN_NAME, DATA_TYPE
FROM information_schema.COLUMNS
WHERE TABLE_SCHEMA = 'final';

('Execution Result:\n'
 "[('buildings', 'BuildingID', 'int'), ('buildings', 'BuildingName', "
 "'varchar'), ('buildings', 'CollegeName', 'varchar'), ('classrooms', "
 "'RoomNumber', 'int'), ('classrooms', 'HasProjector', 'varchar'), "
 "('classrooms', 'BuildingID', 'int'), ('college', 'CollegeName', 'varchar'), "
 "('college', 'CollegeTotalStudents', 'int'), ('course', 'CourseID', 'int'), "
 "('course', 'CourseName', 'varchar'), ('course', 'TextbookISBN', 'int'), "
 "('faculty', 'FacultyID', 'int'), ('faculty', 'FacultyTitle', 'varchar'), "
 "('faculty', 'FacultySalary', 'int'), ('faculty', 'FacultyName', 'varchar'), "
 "('faculty', 'PersonID', 'int'), ('interns', 'InternID', 'int'), ('interns', "
 "'PersonID', 'int'), ('interns', 'InternHourlyWage', 'int'), ('person', "
 "'PersonID', 'int'), ('person', 'PersonPhoneNumber', 'varchar'), ('person', "
 "'PersonName', 'varchar'), ('section', 'SectionID', 'int'), ('section', "
 "'SectionDate', 'date'), ('section', 'RoomNumber', 'int'), ('section', "
 "'CourseID', 'int'), ('section', 'BuildingID', 'int'), ('section', "
 "'PersonID', 'int'), ('student', 'StudentID', 'int'), ('student', "
 "'StudentGPA', 'double'), ('student', 'StudentName', 'varchar'), ('student', "
 "'PersonID', 'int'), ('textbook', 'TextbookISBN', 'int'), ('textbook', "
 "'TextbookTitle', 'varchar'), ('textbook', 'TextbookAuthor', 'varchar')]")
('\n'
 'Description:\n'
 'The database named "final" contains information about a college, including '
 'its buildings, classrooms, colleges, courses, faculty, interns, people, '
 'sections, students, and textbooks. The data consists of 11 tables with a '
 'total of 34 columns. \n'
 '\n'
 'Key insights include:\n'
 '- 7 tables have columns related to identification (e.g., BuildingID, '
 'CourseID, FacultyID)\n'
 '- 5 tables have columns related to names (e.g., BuildingName, CourseName, '
 'PersonName)\n'
 '- There are columns for various types of data, including integers (e.g., '
 'RoomNumber, FacultySalary), varchars (e.g., HasProjector, TextbookTitle), '
 'and dates (e.g., SectionDate)\n'
 '- Some tables have relationships with each other through common columns '
 '(e.g., BuildingID in buildings, classrooms, and section tables)\n'
 '\n'
 'Overall, the database appears to store comprehensive information about the '
 'college, its infrastructure, staff, students, and academic activities.')